// Custom color variables
// Change theme color
$primary:   #E70012
// Add theme color
$transparent: transparent
$theme-colors: ( "transparent": $transparent, "black": #000 )


// Responsive font variables
$font-size-unit: 4px
$min-font-size-level: 4
$max-font-size-level: 36


// Custom position variables
$positions: static, relative, absolute, fixed, sticky, initial


// Custom grid variables
$grid-breakpoints: ( xs: 0px, sm: 576px, md: 768px, lg: 992px, xl: 1280px, xxl: 1920px )
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1110px, xxl: 1680px )


// Custom spacing variables
$spacer: 4px
$min-spacer-level: 1
$max-spacer-level: 25
$spacers: create-spacer-map()

